
 .header {
}
/*
.head {
  width: 90%;
} */
.author .label {
  margin-left: 0 !important;
}
.author a {
  color: rgba(0,0,0,.6) !important;
}
#leftPanel {
  padding: 2em;
  padding-right: 1em !important;
}
#btnHelp {
  position: absolute;
  top: 1.2em;
  right: 0;
}
#btnHelp:hover #howTo {
  display: block;
}
#howTo {
  display: none;
  position: absolute;
  width: 250px;
  padding: 2em;
  right: 0;
  top: 1.2em;
  background-color: #eee;
  overflow: visible;
  z-index: 2;
  border-radius: 3px;
}
.controller {
  position: absolute;
  bottom: 40px;
  right: 40px;
  background: white;
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  opacity: 0.4;
}
.controller .key {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.controller .icon-left {
  top: 30px;
  left: 0;
}
.controller .icon-right {
  top: 30px;
  right: 0;
}
.controller .icon-up {
  top: 0;
  left: 30px;
}
.controller .icon-down {
  bottom: 0;
  left: 30px;
}
.scene {
  height: calc(100vh);
  background-color: black;
  position: relative;
  overflow: hidden;
}
.food {
  width: 60px;
  height: 60px;
  position: absolute;
}
  .food.hidden {
      display: none;
  }
  .effective-food {
      border-radius: 50px;
      width: 10px;
      height: 10px;
      background-color: rgb(255, 233, 80);
      margin: 25px;
  }
  .pacman {
    width: 60px;
    height: 60px;
    position: absolute;
  }
    .pacman .svg {
        fill: rgb(255, 233, 80);
    }

    .pacman.death .svg {
      fill: white;
    }

    .pacman.left {
        transform: rotateY(180deg);
    }

    .pacman.up {
        transform: rotate(-90deg);
    }

    .pacman.down {
        transform: rotate(90deg);
    }
.ghost {
  width: 60px;
  height: 63px;
  position: absolute;
}
  .ghost.red svg {
    fill: red;
  }

  .ghost.white svg {
    fill: white;
  }

  .ghost.green svg {
    fill: green;
  }

  .ghost.blue svg {
    fill: blue;
  }

  .ghost.orange svg {
    fill: orange;
  }

  .ghost.orange.left {
      transform: rotateY(180deg);
  }

  .ghost.orange.up {
      transform: rotate(-90deg);
  }

  .ghost.orange.down {
      transform: rotate(90deg);
  }
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  z-index: 1;
}
.hide {
  display: none;
}
.modal-content {
  border-radius: 3px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  z-index: 10;
  opacity: 1;
  background-color: white;
  max-width: 80vw;
  padding: 2em;
}
.modal-content button {
  font-size: 12pt;
  margin: 0 10px;
}
.modal-actions {
  padding: 1em;
  text-align: right;
}

.modal-actions * {
  margin-left: 1em !important;
}

.modal-content .won {
  color: orange;
  font-weight: bold;
}

#registerModal {
  width: 400px;
}

#registerModal input[type=text] {
  width: 250px;
  max-width: 40vw;
}

#winLoseModal {
  width: 350px;
  /* height: 500px; */
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
  padding: 1em 0;
}

.box .row.footer {
  flex: 0 1 40px;
}