
.header {
  height: 40px;
  display: flex;
}
.head {
  width: 90%;
}
.author {
  font-size: 10px;
}
#howTo {
  position: absolute;
  width: 400px;
  right: 0;
  background-color: white;
  overflow: visible;
  z-index: 1;
}
.lets-play {
  font-size: 16px;
  width: 120px;
  line-height: 30px;
  margin-bottom: 20px;
}
.controller {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  border-radius: 1000px;
  width: 100px;
  height: 100px;
  opacity: 0.4;
}
.controller .key {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.controller .icon-left {
  top: 30px;
  left: 0;
}
.controller .icon-right {
  top: 30px;
  right: 0;
}
.controller .icon-up {
  top: 0;
  left: 30px;
}
.controller .icon-down {
  bottom: 0;
  left: 30px;
}
.scene {
  height: calc(100vh - 60px);
  width: calc(100vw - 20px);
  background-color: black;
  position: relative;
  border: 10px rgb(30, 42, 164) solid;
  overflow: hidden;
}

/* 

$color1: black;
$color2: rgb(255, 233, 80);
$color3: rgb(30, 42, 164);
$color4: #bb0a30; 
$section-min-height: 100vh;
$basic-font: 'Roboto Mono', sans-serif;
*/
.food {
  width: 60px;
  height: 60px;
  position: absolute;
}
  .food.hidden {
      display: none;
  }
  .effective-food {
      border-radius: 50px;
      width: 10px;
      height: 10px;
      background-color: rgb(255, 233, 80);
      margin: 25px;
  }
  .pacman {
    width: 60px;
    height: 60px;
    position: absolute;
  }
    .pacman .svg {
        fill: rgb(255, 233, 80);
    }

    .pacman.death .svg {
      fill: white;
    }

    .pacman.left {
        transform: rotateY(180deg);
    }

    .pacman.up {
        transform: rotate(-90deg);
    }

    .pacman.down {
        transform: rotate(90deg);
    }
.ghost {
  width: 60px;
  height: 63px;
  position: absolute;
}
  .ghost.red svg {
    fill: red;
  }

  .ghost.white svg {
    fill: white;
  }

  .ghost.green svg {
    fill: green;
  }

  .ghost.blue svg {
    fill: blue;
  }

  .ghost.orange svg {
    fill: orange;
  }

  .ghost.orange.left {
      transform: rotateY(180deg);
  }

  .ghost.orange.up {
      transform: rotate(-90deg);
  }

  .ghost.orange.down {
      transform: rotate(90deg);
  }
.win-lose-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  z-index: 1;
}
.hide {
  display: none;
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  z-index: 10;
  opacity: 1;
  background-color: white;
}
.content button {
  font-size: 12pt;
  margin: 0 10px;
}

.content .lost {

}

.content .won {
  color: orange;
  font-weight: bold;
}